doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Google users out
        link(rel="stylesheet",href="../style.css")
    body
        div.container
            p.greet You log out
            a.logout(href="/auth/google") Sign out