doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Google users out
        link(rel="stylesheet",href="../style.css")
    body
        div.container
            p.greet You are log in!
            button.btn
                a.logout(href="/") Logout