doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Google users in
        link(rel="stylesheet",href="../style.css")
    body
        div.container
          p.greet Please, log in
          button.btn
            a.logout(href="/auth/google") Sign in