* {
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
	font-size: 15px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	max-width: 800px;
	width: 100%;
	text-align: center;
	padding: 80px 40px;
	border: 1px solid #010101;
	border-radius: 5px;
	background: rgb(180, 169, 169);
}

.greet {
	font-size: 26px;
	color: #d48b1c;
}

.logout {
	text-decoration: none;
	color: #000;
}

.btn {
	background: #d48b1c;
	border: none;
}